@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#wrap {
    width: 100%;
    /* max-width: 1280px; */
    margin: 0 auto;
}

header {
    background: #00000000;
    color: #FFF;
    padding: 20px;
    position: fixed;
    z-index: 500;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* 横方向のオーバーフローを非表示にする */

}


#btn-open,
#btn-close {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #72c451;
    color: #FFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 30px;
}

#btn-close {
    z-index: 300;
}

#menu {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    visibility: hidden;
    opacity: 0;
}

#menu ul {
    list-style: none;
    padding: 1rem 0;
}

#menu li {
    text-align: center;
    padding: 1rem 0;
}

#menu a {
    color: #FFF;
    text-decoration: none;
    transition: color .5s;
}

#menu a:hover {
    color: #666;
}

.main-menu {
    background: #333;
}

.main-menu ul {
    display: flex;
    justify-content: right;
}

.main-menu ul li a {
    color: #FFF;
    display: block;
    padding: 10px 20px;
}

.main-menu ul li a:hover {
    background: #222;
}

main {
    display: flex;
    flex-direction: row-reverse;
}

section {
    background: #ffffff;
    padding: 5%;
    margin: 1% 3%;
    width: 80%;
}

article {
    background: #FFF;
    padding: 20px;
    padding-top: 50px;
    height: 700px;
    /* 任意の高さを設定 */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
}

/* 画像とテキストを横に並べるためのスタイル */
.container {
    display: flex;
    /* align-items: centel; */
    justify-content: space-around;
    height: 100%;
}

/* 画像のスタイル */
.container img {
    width: 40%;
    max-height: 100%;
    margin: 0;
    display: block;
}

/* テキストのスタイル */
.container .text {
    max-width: 70%;
    padding: 0;
    color: #141313;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    text-align: left;
    white-space: normal;
}

.slider {
    width: 43%;
    margin: auto;

}

.slider img {
    width: 100%;
    height: auto;
}


aside {
    background: #DDD;
    flex: 1;
}

footer {
    background: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

#header-logo {
    width: 200px;
    height: auto;
}

/*タブレット用*/
@media all and (max-width: 1024px) {

    #wrap {
        width: 100%;
    }

}

/*スマホ用*/
@media all and (max-width: 599px) {

    header {
        position: relative;
    }

    .main-menu ul {
        display: block;
    }

    .main-menu ul li {
        text-align: center;
    }

    main {
        display: block;
    }

    .sub-menu ul li {
        text-align: center;
    }

}